{% extends 'CodersLabBundle:Main:index.html.twig' %}

{% block title %}
    Add Category
{% endblock %}

{% block content %}
    <h1>Add Category</h1>
    {{ form_start(categoryForm) }}
    {{ form_widget(categoryForm) }}
    {{ form_end(categoryForm) }}
{% endblock %}
