{% extends 'CodersLabBundle::layout.html.twig' %}

{% block title %}
    Categories
{% endblock %}

{% block panelTitle %}
    Your tasks categories
{% endblock %}

{% block content %}
    <table class="table">
    {% for category in categories %}
        <tr>
            <td>
                <a href="{{ path('showCategory', {'categoryId':category.id}) }}"><strong>{{ category.categoryName }}</strong></a>
            </td>
        </tr>
    {% else %}
        No categories found
    {% endfor %}
    </table>
{% endblock %}
