{% extends 'CodersLabBundle::layout.html.twig' %}

{% block title %}
    Main Site
{% endblock %}

{% block panelTitle %}
    Main Site
{% endblock %}

{% block content %}
    {% if app.user is not null %}
        <a href="{{ path('addCategory', {'userId':app.user.id}) }}">ADD CATEGORY</a><br>
        <a href="{{ path('showMyCategories', {'userId':app.user.id}) }}">SHOW MY CATEGORIES</a><br>
    {% endif %}
{% endblock %}
